body {
    background-image: url(https://media.giphy.com/media/Yy26NRbpB9lDi/giphy.gif);
    background-size: 100%;
     text-shadow: 1.5px 1.5px black;
}
.h-500{
	height: 500px;
}
.text{
	font-size: 20px;
}
